h1 {
  font-size: 1em;
}

.coach-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20vh;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.all-coach-div {
  padding-top: 20vh;
}

.cards {
  width: 100%;
  height: 25vh;
  background-color: #0c0b4413;
  padding: 1rem;
  border: rgb(200, 243, 10) 1px solid;
  border-radius: 20px;
  margin: 0.7rem 0;
}

.coach-form {
  width: 70vw;
  background: rgb(128, 74, 226);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

input {
  color: rgb(255, 255, 255);
}

.del-btn {
  width: 25px;
  height: 25px;
  padding: 0;
  position: absolute;
  top: -15px;
  right: 10px;
  button {
    padding: 0;
  }
}

@media screen and (min-width: 1000px) {
  .sport-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .cards {
    height: 50vh;
    width: 100%;
    background: #0c0b44;
    justify-self: center;
  }
}
